.advantages-item {
  @include tablet {
    display: flex;
    //flex: 1;
  }

  &--revert {
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.advantages-item__color-block {
  text-align: center;
  padding: 51px 19px 27px 16px;
  word-wrap: break-word;

  &--two {
    padding-top: 40px;
    padding-bottom: 21px;
  }

  @include tablet {
    min-width: 256px;
    box-sizing: border-box;
    padding: 45px 33px 40px;
  }

  @include desktop {
    padding: 50px 69px 57px;
  }

  &--dark-theme {
    background-color: $main-color;
    color: $font-color-white;

    @include desktop {
      min-width: 400px;
      box-sizing: border-box;
    }
  }

  &--light-theme {
    background-color: #eeeeee;
    border-bottom: 1px solid #d6d6d6;
    //padding: 28px 21px 7px 20px;
    padding: 26px 33px 10px 34px;


    @include tablet {
      border: none;
      box-sizing: border-box;
      //width: 100%;
      min-height: 256px;
      width: 255px;
      text-align: center;
      padding: 42px 40px 42px;
    }

    @include desktop {
      min-width: 400px;
      padding: 43px 59px 62px;
    }
  }
}

.advantages-item__title {
  @include font-bold;

  margin: 0 0 17px;


  &::after {
    //content: "1";
    content: "- №" counter(advantages) " -";
    counter-increment: advantages;
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    margin-top: 11px;
  }


  @include tablet {
    font-size: 21px;
    width: 150px;
    margin: 0 auto;
  }

  @include desktop {
    width: 150px;
    margin: 0 auto;
  }
}

.advantages-item__text {
  max-width: 253px;

  @include font-base;
  color: $font-color-secondary;


  @include tablet {
    margin: 24px 0 0;
    max-width: 176px;

    &--four {
      margin-left: 6px;
      max-width: 147px;
    }
  }

  @include desktop {
    max-width: 373px;
  }

  &--desktop {
    width: 285px;
  }
}

.advantages-item__text-light {
  color: $font-color-white;
  max-width: 284px;

  @include tablet {
    margin: 22px 0 0;
  }

  &--devil-bridge {
    @include desktop {
      max-width: 226px;
      margin: 24px 0 0 16px;
    }
  }
}

.advantages-item__number {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 17px;
}

.advantages-item__photo {
  width: 100%;
  object-fit: cover;
  display: block;
  min-height: 100%;

  @include tablet {
    min-width: 512px;
  }

  @include desktop {
    min-width: 800px;
  }
}
