.advantages-item {
  @include tablet {
    display: flex;
    //flex: 1;
  }
}

.advantages-item__revert {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
  }
}

.advantages-item__color-block {
  text-align: center;
  padding: 39px 19px 40px 19px;

  @include tablet {
    min-width: 256px;
    box-sizing: border-box;
    padding: 34px 33px 40px;
  }

  @include desktop {
    padding: 47px 53px 57px;
  }
}

.advantages-item__color-block--dark-theme {
  background-color: $main-color;
  color: $font-color-white;

  @include desktop {
    min-width: 400px;
    box-sizing: border-box;
  }
}

.advantages-item__color-block--light-theme {
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;

  @include tablet {
    border: none;
    box-sizing: border-box;
    //width: 100%;
    min-height: 256px;
    width: 255px;
    text-align: center;
    padding: 41px 60px 42px;
  }

  @include desktop {
    min-width: 400px;
    padding: 43px 62px 62px;
  }
}

.advantages-item__title {
  @include font-bold;

  margin: 0 0 11px;

  &::after {
    //content: "1";
    content: "- №" counter(advantages) " -";
    counter-increment: advantages;
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
  }

  @include tablet {
    font-size: 21px;
  }

  @include desktop {
    width: 159px;
    margin: 0 auto;
  }
}

.advantages-item__text {
  @include font-normal;
  color: $font-color-secondary;
}

.advantages-item__text-light {
  color: $font-color-white;

  @include tablet {
    margin: 22px 0 0;
  }
}

.advantages-item__number {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 17px;
}

.advantages-item__photo {
  width: 100%;
  object-fit: cover;
  display: block;

  @include tablet {
    min-width: 512px;
  }
}
