.advantages {
  padding: 0;
  position: relative;
  padding-top: 20px;
  margin: 0;
  counter-reset: advantages;

  &::before {
    content: "";
    background-image: url("/img/images/decorative-figure-mobile.svg");
    position: absolute;
    top: 0;
    height: 37px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    @include tablet {
      padding: 39px 0 0;
      background-image: none;
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-template-columns: 33.33% 33.33% 33.33%;
    }
  }

  @include desktop {
    padding-top: 27px;
  }
}

.advantages__item {
  list-style: none;

  .advantages__item--light-theme {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @include tablet {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.advantages__item--revert {
  @include tablet {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.advantages__item--light-theme {
  @include tablet {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
  }
}
