.all-photos-list {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.all-photos-list__photo-of-user {
  padding-top: 23px;

  @include tablet {
    padding-top: 0;
  }


  @include desktop {
    display: grid;
    grid-template-rows: 187px 80px;
  }
}


.all-photos-list__big-photo {
  &::before {
    content: " ";
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
    right: -20px;
    top: -3px;
  }

  @include tablet {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 13px;

    &::before {
      content: " ";
      display: none;
    }
  }

  @include desktop {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-rows: 320px 80px;
  }
}
