.amotions__textarea {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  font-family: $font-stack;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  max-height: 157px;

  @include desktop {
    margin: 0 auto;
    width: 768px;
    min-height: 160px;
  }
}
