.copyright__text {
  max-width: 121px;
  word-break: break-all;
  margin: 5px 0 0 16px;

  @include font-base;
  position: relative;


  &:hover {
    color: #81b3d2;
  }

  &:hover + .copyright__logo .copyright__svg {
    fill: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }

  &:active + .copyright__logo .copyright__svg {
    fill: #b3b3b3;
  }
}

.copyright__logo {
  min-width: 0;
  padding: 0 15px 18px;

  @include desktop {
    padding: 0 10px 18px;
  }
}
