.copyright__text {
  @include font-base;
  position: relative;
  padding-right: 12px;

  &:hover {
    color: #81b3d2;
  }

  &:hover + .copyright__logo .copyright__svg {
    fill: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }

  &:active + .copyright__logo .copyright__svg {
    fill: #b3b3b3;
  }
}
