.infrastructure-point {
  list-style: none;
  padding: 1px 10px 21px 45px;

  @include tablet {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 160px 36px 40px;
    max-width: 255px;
    min-height: 330px;
    box-sizing: border-box;
  }

  @include desktop {
    min-width: 400px;
    padding: 159px 58px 56px;
  }
}

.infrastructure-point__icon {
  @include tablet {
    margin: 0 auto 26px;
  }
}

.infrastructure-point__title {
  @include font-bold;
  margin: 0 0 16px;
  position: relative;
  word-wrap: break-word;

  &--home::before {
    content: " ";
    background-image: url("/img/icons/house.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -4px;
    left: -47px;
  }

  &--home {
    margin: 0 0 17px;
  }


  &--eat::before {
    content: " ";
    background-image: url("/img/icons/burger.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 40px;
    height: 35px;
    top: -5px;
    left: -49px;
  }


  &--eat {
    margin: 0 0 16px 5px;
  }


  &--souvenirs::before {
    content: " ";
    background-image: url("/img/icons/gift.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 32px;
    height: 38px;
    top: -7px;
    left: -42px;
  }


  &--souvenir {
    margin: 0 0 16px 0;
  }


  @include tablet {
    margin: 0 0 23px;
    font-size: 21px;

    &--home::before {
      content: " ";
      background-image: url("/img/icons/house-tablet.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 72px;
      height: 72px;
      top: -99px;
      left: 54px;
    }

    &--eat::before {
      content: " ";
      background-image: url("/img/icons/burger-tablet.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 76px;
      height: 68px;
      top: -95px;
      left: 55px;
    }

    &--souvenirs::before {
      content: " ";
      background-image: url("/img/icons/gift-tablet.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 64px;
      height: 75px;
      top: -100px;
      left: 62px;
    }
  }

  @include desktop {
    &--home::before {
      content: " ";
      background-image: url("/img/icons/house-tablet.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 72px;
      height: 72px;
      top: -99px;
      left: 103px;
    }

    &--eat::before {
      content: " ";
      background-image: url("/img/icons/burger-tablet.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 76px;
      height: 68px;
      top: -95px;
      left: 100px;
    }

    &--souvenirs::before {
      content: " ";
      background-image: url("/img/icons/gift-tablet.svg");
      background-repeat: no-repeat;
      position: absolute;
      width: 64px;
      height: 75px;
      top: -100px;
      left: 108px;
    }
  }
}

.infrastructure-point__text {
  // margin: 0 0 0 7px;

  @include font-base;
  margin: 0 0 8px;
  color: $font-color-secondary;
  width: 232px;

  @include tablet {
    width: 100%;
  }
}

.infrastructure-point__text--souvenirs {
  @include tablet {
    min-width: 194px;
  }

  @include desktop {
    max-width: 194px;
    margin-left: 54px;
  }
}

.infrastructure-point__text--eat {
  margin-left: 5px;

  @include tablet {
    max-width: 155px;
    margin: 0 12px 20px 15px;
  }

  @include desktop {
    max-width: 293px;
    margin: 0 12px 20px 0;
  }
}
