.label-text {
  padding: 0 0 0 16px;

  @include font-base;

  &--phone {
    position: relative;
  }

  &--phone::after {
    content: "";
    position: absolute;
    background-image: url("/img/icons/phone.svg");
    width: 58px;
    height: 58px;
    top: 20px;
    left: 222px;

    @include desktop {
      left: 344px;
    }
  }

  &--email {
    position: relative;
  }


  &--email::after {
    content: "";
    position: absolute;
    background-image: url("/img/icons/envelope.svg");
    width: 58px;
    height: 59px;
    top: 19px;
    left: 222px;

    @include desktop {
      left: 344px;
    }
  }

  &--special {
    color: $font-color-secondary;

    @include font-base;
  }
}
