.likes__icon {
  border: none;
  background-color: #ffffff;
}

.likes__amount {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
