.likes {
  display: flex;

  @include tablet {
    text-align: right;
    justify-content: flex-end;
  }
}

.likes__icon {
  border: none;
  background-color: #ffffff;
  margin-right: 14px;
  min-width: 23px;
  position: relative;
  cursor: pointer;

  &::after {
    content: " ";
    position: absolute;
    background-image: url("/img/icons/like.svg");
    background-repeat: no-repeat;
    width: 23px;
    height: 21px;
    left: 0;
    top: 0;
  }


  @include tablet {
    background-color: rgb(242, 242, 242, 0);
  }


  @include desktop {
    background-color: rgb(242 242 242 / 0%);

    &::after {
      content: " ";
      position: absolute;
      background-image: url("/img/icons/like-icon-desktop.svg");
      background-repeat: no-repeat;
      width: 23px;
      height: 21px;
      left: 0;
      top: 0;
    }
  }
}

.likes__icon-image {
  fill: rgb(0 0 0 / 30%);


  @include desktop {
    fill: rgb(255, 255, 255 / 1);
  }
}

.likes__amount {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-top: 5px;

  @include desktop {
    color: $font-color-white;
  }
}
