.likes {
  @include tablet {
    text-align: right;
  }
}

.likes__icon {
  border: none;
  background-color: #ffffff;

  @include tablet {
    background-color: #f2f2f2;
  }

  @include desktop {
    background-color: rgb(242 242 242 / 0%);
  }
}

.likes__icon-image {
  fill: rgb(0 0 0 / 30%);


  @include desktop {
    fill: rgb(255, 255, 255 / 1);
  }
}

.likes__amount {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  @include desktop {
    color: $font-color-white;
  }
}
