.main-navigation {
  @media (max-width: $mobile-width-only) {
    &--opened {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }

    &--closed {
      display: none;
    }
  }


  @include tablet {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-navigation--opened + .toggle::before {
  content: "";
  background-image: url("/img/icons/toggle-button-close.svg");
  width: 23px;
  height: 22px;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: rgb(129, 179, 210, 0);
}

.main-navigation--opened + .toggle:hover::before {
  background-image: url("/img/icons/toggle-button-close-hover.svg");
}


.main-navigation--opened + .toggle:active::before {
  background-image: url("/img/icons/toggle-button-close-activ.svg");
}

.main-navigation--closed + .toggle::before {
  content: "";
  background-image: url("/img/icons/toggle-button-burger.svg");
  width: 23px;
  height: 22px;
  position: absolute;
  right: 0;
  top: 0;
}

.main-navigation--closed + .toggle:hover::before {
  background-image: url("/img/icons/burger-menu-hover.svg");
}

.main-navigation--closed + .toggle:active::before {
  background-image: url("/img/icons/burger-menu-activ.svg");
}


.main-navigation--nojs + .toggle {
  display: none;
}


.main-navigation__list {
  @include tablet {
    min-width: 250px;
  }


  @include desktop {
    min-width: 480px;
  }
}
