.main-footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0;
  text-align: center;
  padding: 37px 25px 0;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 35px 9px 33px 14px;
  }

  @include desktop {
    padding: 35px 120px;
  }

  &--catalog {
    padding: 29px 25px 0;

    @include tablet {
      padding: 36px 10px 0;
    }

    @include desktop {
      padding: 27px 119px 0;
    }
  }
}

.main-footer__hashtag {
  @include tablet {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 13px 20px 0 0;
  }

  @include desktop {
    margin: 13px 186px 0 0;
  }
}

.main-footer__hashtag-text {
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 33px;
  display: inline-block;

  @include tablet {
    margin: 0;
  }
}

.main-footer__social {
  margin: 0 auto 42px;
  //min-width: 156px;

  @include tablet {
    // margin: 0;
    margin: 0 auto;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: start;

  @include tablet {
    /* display: flex;
    align-items: center; */
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 9px 0 0 22px;
  }

  @include desktop {
    margin: 9px -15px 0 172px;
  }
}
