.main-header {
  background-color: #ffffff;
  width: 100%;
  min-height: 56px;
  display: flex;
  justify-content: end;
  position: relative;
  box-sizing: border-box;

  @include tablet {
    padding: 0;
  }
}

.main-header__logo {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  left: 50%;
  margin-left: -92.5px;
}

.main-header__toggle {
  background-image: url("/img/icons/toggle-button-close.svg");
  width: 23px;
  height: 22px;
  position: absolute;
  z-index: 4;
  top: 17px;
  right: 15px;
  background-color: rgb(129, 179, 210, 0);
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    display: none;
  }
}
