.main-form {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 493px 466px;
  }
}

.main-form__name {
  @include fieldset-decorate;
  padding: 0 20px 10px;

  @include tablet {
    border-bottom: none;
    padding: 0 44px 0 0;
    border-right: 1px solid #e5e5e5;
  }

  @include desktop {
    padding: 0 61px 0 0;
  }
}

.main-form__contacts {
  @include fieldset-decorate;
  padding: 0 20px 7px;

  @include tablet {
    border-bottom: none;
    padding: 0 0 0 44px;
  }

  @include desktop {
    padding: 0 0 0 63px;
  }
}

.main-form__impressions {
  @include fieldset-decorate;
  padding: 0 20px;
  text-align: center;

  @include tablet {
    &--full-width {
      grid-column: 1/-1;
      padding: 28px 21px 32px 35px;
    }

    border-top: 1px solid #e5e5e5;
    border-bottom: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 28px 36px 24px;
    margin-top: 48px;
  }

  @include desktop {
    justify-content: space-between;
    padding: 45px 54px;
    margin-top: 56px;
  }
}

.main-form__attractions {
  @include fieldset-decorate;
  padding: 0 20px 24px;
  text-align: center;

  @include tablet {
    &--full-width {
      grid-column: 1/-1;
    }

    border-top: 1px solid #e5e5e5;
    border-bottom: none;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 8px 49px 0 83px;
  }

  @include desktop {
    justify-content: space-between;
    padding: 59px 44px 47px;
  }
}

.main-form__amotions {
  border: none;
  padding: 0 20px 51px;
  margin: 0;
  text-align: center;

  @include tablet {
    &--full-width {
      grid-column: 1/-1;
    }
    padding: 28px 0 42px;
    border-top: 1px solid #e5e5e5;
    width: 100%;
  }
}

.main-form__button {
  @include font-button;
  color: #ffffff;
  max-width: 281px;
  margin-left: 20px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &[value]:active {
    color: rgb(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #f5f5f5;
  }

  @include tablet {
    max-width: 324px;
    margin-left: 0;
    font-size: 18px;
    padding: 19px 51px 13px 42px;
  }

  @include desktop {
    max-width: 384px;
    margin-left: 96px;
  }
}

.main-form__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  padding-right: 20px;
  margin: 0 0 19px;

  @include tablet {
    padding-right: 0;
    margin: 22px 0 13px;
    font-size: 14px;
  }

  @include desktop {
    margin-right: 96px;
  }
}
