.main-footer {
  text-align: center;
  padding: 28px 0 29px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 60px;
  }

  @include desktop {
    padding: 29px 120px;
  }
}

.main-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 33px;
  display: inline-block;

  @include tablet {
    margin: 0;
  }
}

.main-footer__social {
  margin: 0 auto;
  margin-bottom: 47px;
  //min-width: 156px;

  @include tablet {
    margin: 0;
  }
}

.main-footer__copyright {
  @include tablet {
    display: flex;
    align-items: center;
  }
}
