.main-header {
  background-color: #ffffff;
  width: 100%;
  min-height: 56px;
  display: flex;
  justify-content: end;
  position: relative;
  padding: 0 18px 0 18px;
  box-sizing: border-box;

  @include tablet {
    padding: 0;
  }
}

.main-header__logo {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  left: 50%;
  margin-left: -92.5px;
}
