.map {
  background-image: url("/img/images/map-mobile.jpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ede3bb;
}

.map__contacts {
  width: 100%;
  border: none;
}
