.map {
  background-image: url("/img/images/map-mobile.jpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ede3bb;

  @include tablet {
    background-image: url("/img/images/map-tablet.jpg.jpg");
  }

  @include desktop {
    background-image: url("/img/images/map-desktop.jpg.jpg");
  }
}

.map__contacts {
  width: 100%;
  border: none;
}
