.modal-window {
  padding: 45px 41px 35px;
  text-align: center;
  box-shadow: 0 0 10px 5px #dddddd;
}

.modal-window__title {
  margin: 0 0 36px;

  @include font-bold;
}

.modal-window__explanation {
  margin: 0 0 33px;
  display: block;

  @include font-normal;
}
