.page-body {
  max-width: $mobile-width;
  margin: 0 auto;
  font-family: $font-stack;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  min-height: 100%;
  display: flex;
  flex-direction: column;

  @include tablet {
    min-width: $tablet-width;
  }

  @include desktop {
    min-width: 1200px;
  }
}
