.search__wrapper {
  padding: 47px 18px 49px;
  text-align: center;
  word-wrap: break-word;

  @include tablet {
    padding: 59px 155px 58px;
  }

  @include desktop {
    padding: 61px 371px 66px;
  }
}

.search__question {
  @include font-button;
  display: inline-block;
  margin: 0 0 20px;
  word-break: break-all;

  @include tablet {
    font-size: 30px;
    margin: 0 0 32px;
  }
}

.search__description-process {
  @include font-base;
  margin: 0 0 32px;
  color: $font-color-secondary;

  @include tablet {
    margin: 0 0 43px;
  }

  @include desktop {
    margin: 0 0 46px;
  }
}

.search__button {
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active .search__button-text {
    color: rgb(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #f5f5f5;
  }

  @include tablet {
    padding: 15px 42px;
  }

  @include desktop {
    padding: 16px 42px;
  }
}

.search__button-text {
  font-size: 19px;
}
