.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;

  @include tablet {
    //min-width: 250px;
    max-width: 306px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.site-list-link {
  text-decoration: none;
  //padding: 17px 60px 12px 60px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  word-break: break-all;
  cursor: pointer;

  @include tablet {
    padding: 18px 15px;
    min-width: 153px;

    &:hover .site-list__text {
      color: $main-color;
    }

    &:focus .site-list__text {
      color: rgba(118, 99, 87);
    }

    &:active .site-list__text {
      color: #766357;
    }
  }

  @include desktop {
    //min-width: 240px;
  }
}

.site-list__item {
  background-color: $main-color;
  box-shadow: 0 1px 0 rgb(1 1 1 / 20%), inset 0 1px 0 rgb(255 255 255 / 20%);

  @media (max-width: $mobile-width-only) {
    padding-top: 18px;
    padding-bottom: 12px;

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
    }
  }

  @include tablet {
    background-color: #ffffff;
    min-width: 153px;
    box-sizing: border-box;
    //max-height: 50px;
    box-shadow: none;
  }

  @include desktop {
    min-width: 240px;
  }
}

.site-list__text {
  @include font-bold;
  color: #ffffff;

  @media (max-width: $mobile-width-only) {
    &:active {
      color: rgb(255, 255, 255, 0.3);
    }
  }

  @include tablet {
    @include font-base(700);
    color: $font-color-main;
  }
}
