.title-of-part {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 35px 0 19px;

  @include tablet {
    font-size: 21px;
    padding: 37px 0 26px;
  }

  @include desktop {
    padding: 0 0 28px;
  }

  &--name {
    @include tablet {
      margin-left: 22px;
    }

    @include desktop {
      margin-left: 31px;
      padding-bottom: 25px;
    }
  }

  &--contacts {
    margin: 0 auto;

    @include tablet {
      margin-left: -18px;
    }

    @include desktop {
      margin-left: 32px;
      padding: 0 0 26px;
    }
  }

  &--impressions {
    @include tablet {
      padding: 0 65px 0 52px;
    }

    @include desktop {
      padding: 0 54px 0 52px;
    }
  }

  &--attractions {
    padding-top: 23px;

    @include tablet {
      padding: 0 70px 0 35px;
      margin-bottom: 24px;
    }

    @include desktop {
      padding: 13px 268px 1px 265px;
      margin: 0;
    }
  }

  &--amotions {
    padding-top: 0;

    @include tablet {
      padding: 25px 138px 0;
    }
  }
}
