.title-of-part {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 24px 0 20px;

  @include desktop {
    padding: 0 0 28px;
  }
}

.title-of-part__border {
  @include tablet {
    padding: 0 65px;
  }
}
