.title-of-part {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 37px 0 18px;

  @include tablet {
    font-size: 21px;
    padding: 37px 0 26px;
  }

  @include desktop {
    padding: 0 0 28px;
  }

  &--name {
    @include tablet {
      margin-left: 22px;
    }

    @include desktop {
      margin-left: 31px;
      padding-bottom: 25px;
    }
  }

  &--contacts {
    margin-left: -19px;

    @include desktop {
      margin-left: -30px;
    }
  }

  &--impressions {
    @include tablet {
      padding: 0 65px 0 52px;
    }

    @include desktop {
      padding: 0 54px 0 52px;
    }
  }

  &--attractions {
    padding-top: 23px;

    @include tablet {
      padding: 0 68px 24px 34px;
    }

    @include desktop {
      padding: 13px 268px 1px 265px;
    }
  }

  &--amotions {
    padding-top: 0;

    @include tablet {
      padding: 25px 0 0;
    }
  }
}
