.toggle {
  border: none;
  background-color: #ffffff;
  width: 23px;
  height: 22px;
  padding: 0;
  position: relative;
  cursor: pointer;

  &::before {
    fill: rgb(225, 225, 225, 1);
  }

  &:active {
    fill: rgb(225, 225, 225, 0.3);
  }
}

.toggle__margin {
  margin-top: 17px;
}

@media screen and (min-width: $tablet-width) {
  .toggle {
    display: none;
  }
}
