.video {
  padding: 17px 20px 0 20px;
  box-sizing: border-box;
  text-align: center;

  @include tablet {
    padding: 58px 60px 40px;
  }
}

.video__question {
  @include font-bold;
  color: $font-color-main;
  margin: 0 0 38px;

  @include desktop {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }
}

.video__text-container {
  @include tablet {
    padding: 0 98px;
  }

  @include desktop {
    padding: 0 250px;
  }
}

.video__text {
  @include font-base;
  color: $font-color-secondary;
  margin: 0 2px 38px;
}

.video__presentation {
  background-image: url("/img/images/video.jpg");
  width: 100%;
  min-height: 177px;
  object-fit: fill;
  display: block;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/images/images-@2x/video@2x.jpg");
    background-size: 280px auto;
  }

  @include tablet {
    background-image: url("/img/images/video-tablet.jpg");
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/images/images-@2x/video-tablet@2x.jpg");
      background-size: 648px auto;
    }
  }

  @include desktop {
    background-image: url("/img/images/video-desktop.jpg");
    background-repeat: no-repeat;
    min-width: 800px;
    min-height: 686px;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/images/images-@2x/video-desktop@2x.jpg");
      background-size: 800px auto;
    }
  }
}
